In [21]:
#Loading data
import pandas as pd 
df = pd.read_csv('Data/Movies_dataset.csv')

In [22]:
#understanding data
df

,id,original_title,original_language,genre,overview,popularity,vote_count,vote_average,release_date
0,278,The Shawshank Redemption,en,"Drama, Crime",Imprisoned in the 1940s for the double murder ...,36.1467,29384,8.714,1994-09-23
1,238,The Godfather,en,"Drama, Crime","Spanning the years 1945 to 1955, a chronicle o...",37.3341,22174,8.686,1972-03-14
2,240,The Godfather Part II,en,"Drama, Crime",In the continuing saga of the Corleone crime f...,14.6729,13404,8.571,1974-12-20
3,424,Schindler's List,en,"Drama, History, War",The true story of how businessman Oskar Schind...,13.6783,16923,8.566,1993-12-15
4,389,12 Angry Men,en,Drama,The defense and the prosecution have rested an...,10.6929,9589,8.548,1957-04-10
...,...,...,...,...,...,...,...,...,...
9995,226486,Tammy,en,Comedy,"For Tammy, a burger-joint employee, a bad day ...",2.7543,1257,5.336,2014-07-02
9996,47964,A Good Day to Die Hard,en,"Action, Thriller","Iconoclastic, take-no-prisoners cop John McCla...",4.2306,6606,5.335,2013-02-06
9997,203835,Amityville: The Awakening,en,Horror,"Belle, her little sister, and her comatose twi...",5.5595,1068,5.334,2017-06-30
9998,43552,Vanishing on 7th Street,en,"Mystery, Horror, Thriller",A mysterious global blackout yields countless ...,4.5139,601,5.334,2010-09-11
9999,80304,Casa de Mi Padre,en,"Comedy, Western",Scheming of a way to save their father's ranch...,4.1805,319,5.300,2012-03-15

In [23]:
df.shape

(10000, 9)

In [24]:
df.columns

Index(['id', 'original_title', 'original_language', 'genre', 'overview',
       'popularity', 'vote_count', 'vote_average', 'release_date'],
      dtype='object')

In [25]:
df.info

<bound method DataFrame.info of           id             original_title original_language  \
0        278   The Shawshank Redemption                en
1        238              The Godfather                en
2        240      The Godfather Part II                en
3        424           Schindler's List                en
4        389               12 Angry Men                en
...      ...                        ...               ...
9995  226486                      Tammy                en
9996   47964     A Good Day to Die Hard                en
9997  203835  Amityville: The Awakening                en
9998   43552    Vanishing on 7th Street                en
9999   80304           Casa de Mi Padre                en

                          genre  \
0                  Drama, Crime
1                  Drama, Crime
2                  Drama, Crime
3           Drama, History, War
4                         Drama
...                         ...
9995                     Comedy
9996           Action, Thriller
9997                     Horror
9998  Mystery, Horror, Thriller
9999            Comedy, Western

                                               overview  popularity  \
0     Imprisoned in the 1940s for the double murder ...     36.1467
1     Spanning the years 1945 to 1955, a chronicle o...     37.3341
2     In the continuing saga of the Corleone crime f...     14.6729
3     The true story of how businessman Oskar Schind...     13.6783
4     The defense and the prosecution have rested an...     10.6929
...                                                 ...         ...
9995  For Tammy, a burger-joint employee, a bad day ...      2.7543
9996  Iconoclastic, take-no-prisoners cop John McCla...      4.2306
9997  Belle, her little sister, and her comatose twi...      5.5595
9998  A mysterious global blackout yields countless ...      4.5139
9999  Scheming of a way to save their father's ranch...      4.1805

      vote_count  vote_average release_date
0          29384         8.714   1994-09-23
1          22174         8.686   1972-03-14
2          13404         8.571   1974-12-20
3          16923         8.566   1993-12-15
4           9589         8.548   1957-04-10
...          ...           ...          ...
9995        1257         5.336   2014-07-02
9996        6606         5.335   2013-02-06
9997        1068         5.334   2017-06-30
9998         601         5.334   2010-09-11
9999         319         5.300   2012-03-15

[10000 rows x 9 columns]>

In [26]:
df.dtypes

id                     int64
original_title        object
original_language     object
genre                 object
overview              object
popularity           float64
vote_count             int64
vote_average         float64
release_date          object
dtype: object

In [27]:
#data cleaning
df.isna().sum()

id                   0
original_title       0
original_language    0
genre                3
overview             1
popularity           0
vote_count           0
vote_average         0
release_date         2
dtype: int64

In [28]:
df.isna().mean() * 100

id                   0.00
original_title       0.00
original_language    0.00
genre                0.03
overview             0.01
popularity           0.00
vote_count           0.00
vote_average         0.00
release_date         0.02
dtype: float64

In [29]:
df[df.isna().any(axis=1)]

,id,original_title,original_language,genre,overview,popularity,vote_count,vote_average,release_date
3706,357953,Return,en,NaN,Return is a methodical construction of the app...,3.5457,645,6.952,1975-09-04
5327,733668,Return,hy,NaN,Eyüp decides to cross mount Ararat looking for...,0.3483,423,6.638,NaN
5538,348877,Return,en,NaN,Static images of an old country house are comb...,0.2069,416,6.593,1972-07-15
5591,1198870,Return,en,Horror,A girl is at school. Suddenly it's as if she c...,2.2790,442,6.584,NaN
6579,1045781,Ret,tr,"Drama, History",NaN,0.2431,325,6.400,2015-07-10

In [30]:
df.duplicated().sum()

np.int64(3)

In [33]:
df= df.drop_duplicates()