In [35]:
#Loading data
import pandas as pd 
df = pd.read_csv('Data/Movies_dataset.csv')

In [36]:
#understanding data
df

,id,original_title,original_language,genre,overview,popularity,vote_count,vote_average,release_date
0,278,The Shawshank Redemption,en,"Drama, Crime",Imprisoned in the 1940s for the double murder ...,36.1467,29384,8.714,1994-09-23
1,238,The Godfather,en,"Drama, Crime","Spanning the years 1945 to 1955, a chronicle o...",37.3341,22174,8.686,1972-03-14
2,240,The Godfather Part II,en,"Drama, Crime",In the continuing saga of the Corleone crime f...,14.6729,13404,8.571,1974-12-20
3,424,Schindler's List,en,"Drama, History, War",The true story of how businessman Oskar Schind...,13.6783,16923,8.566,1993-12-15
4,389,12 Angry Men,en,Drama,The defense and the prosecution have rested an...,10.6929,9589,8.548,1957-04-10
...,...,...,...,...,...,...,...,...,...
9995,226486,Tammy,en,Comedy,"For Tammy, a burger-joint employee, a bad day ...",2.7543,1257,5.336,2014-07-02
9996,47964,A Good Day to Die Hard,en,"Action, Thriller","Iconoclastic, take-no-prisoners cop John McCla...",4.2306,6606,5.335,2013-02-06
9997,203835,Amityville: The Awakening,en,Horror,"Belle, her little sister, and her comatose twi...",5.5595,1068,5.334,2017-06-30
9998,43552,Vanishing on 7th Street,en,"Mystery, Horror, Thriller",A mysterious global blackout yields countless ...,4.5139,601,5.334,2010-09-11
9999,80304,Casa de Mi Padre,en,"Comedy, Western",Scheming of a way to save their father's ranch...,4.1805,319,5.300,2012-03-15

In [37]:
df.shape

(10000, 9)

In [38]:
df.columns

Index(['id', 'original_title', 'original_language', 'genre', 'overview',
       'popularity', 'vote_count', 'vote_average', 'release_date'],
      dtype='object')

In [39]:
df.info

<bound method DataFrame.info of           id             original_title original_language  \
0        278   The Shawshank Redemption                en
1        238              The Godfather                en
2        240      The Godfather Part II                en
3        424           Schindler's List                en
4        389               12 Angry Men                en
...      ...                        ...               ...
9995  226486                      Tammy                en
9996   47964     A Good Day to Die Hard                en
9997  203835  Amityville: The Awakening                en
9998   43552    Vanishing on 7th Street                en
9999   80304           Casa de Mi Padre                en

                          genre  \
0                  Drama, Crime
1                  Drama, Crime
2                  Drama, Crime
3           Drama, History, War
4                         Drama
...                         ...
9995                     Comedy
9996           Action, Thriller
9997                     Horror
9998  Mystery, Horror, Thriller
9999            Comedy, Western

                                               overview  popularity  \
0     Imprisoned in the 1940s for the double murder ...     36.1467
1     Spanning the years 1945 to 1955, a chronicle o...     37.3341
2     In the continuing saga of the Corleone crime f...     14.6729
3     The true story of how businessman Oskar Schind...     13.6783
4     The defense and the prosecution have rested an...     10.6929
...                                                 ...         ...
9995  For Tammy, a burger-joint employee, a bad day ...      2.7543
9996  Iconoclastic, take-no-prisoners cop John McCla...      4.2306
9997  Belle, her little sister, and her comatose twi...      5.5595
9998  A mysterious global blackout yields countless ...      4.5139
9999  Scheming of a way to save their father's ranch...      4.1805

      vote_count  vote_average release_date
0          29384         8.714   1994-09-23
1          22174         8.686   1972-03-14
2          13404         8.571   1974-12-20
3          16923         8.566   1993-12-15
4           9589         8.548   1957-04-10
...          ...           ...          ...
9995        1257         5.336   2014-07-02
9996        6606         5.335   2013-02-06
9997        1068         5.334   2017-06-30
9998         601         5.334   2010-09-11
9999         319         5.300   2012-03-15

[10000 rows x 9 columns]>

In [40]:
df.dtypes

id                     int64
original_title        object
original_language     object
genre                 object
overview              object
popularity           float64
vote_count             int64
vote_average         float64
release_date          object
dtype: object

In [41]:
#data cleaning
df.isna().sum()

id                   0
original_title       0
original_language    0
genre                3
overview             1
popularity           0
vote_count           0
vote_average         0
release_date         2
dtype: int64

In [42]:
df.isna().mean() * 100

id                   0.00
original_title       0.00
original_language    0.00
genre                0.03
overview             0.01
popularity           0.00
vote_count           0.00
vote_average         0.00
release_date         0.02
dtype: float64

In [43]:
df[df.isna().any(axis=1)]

,id,original_title,original_language,genre,overview,popularity,vote_count,vote_average,release_date
3706,357953,Return,en,NaN,Return is a methodical construction of the app...,3.5457,645,6.952,1975-09-04
5327,733668,Return,hy,NaN,Eyüp decides to cross mount Ararat looking for...,0.3483,423,6.638,NaN
5538,348877,Return,en,NaN,Static images of an old country house are comb...,0.2069,416,6.593,1972-07-15
5591,1198870,Return,en,Horror,A girl is at school. Suddenly it's as if she c...,2.2790,442,6.584,NaN
6579,1045781,Ret,tr,"Drama, History",NaN,0.2431,325,6.400,2015-07-10

In [44]:
df.duplicated().sum()

np.int64(3)

In [45]:
df[df.duplicated(keep = False)]

,id,original_title,original_language,genre,overview,popularity,vote_count,vote_average,release_date
1559,319373,あん,ja,Drama,The master of a dorayaki pastry store hires a ...,4.0988,586,7.433,2015-05-30
1560,319373,あん,ja,Drama,The master of a dorayaki pastry store hires a ...,4.0988,586,7.433,2015-05-30
1979,58857,十三人の刺客,ja,"Adventure, Drama, Action",A bravado period action film set at the end of...,5.1987,1216,7.328,2010-09-25
1980,58857,十三人の刺客,ja,"Adventure, Drama, Action",A bravado period action film set at the end of...,5.1987,1216,7.328,2010-09-25
2059,82695,Les Misérables,en,"History, Drama",An adaptation of the successful stage musical ...,7.3351,5468,7.311,2012-12-18
2060,82695,Les Misérables,en,"History, Drama",An adaptation of the successful stage musical ...,7.3351,5468,7.311,2012-12-18

In [46]:
df = df.drop_duplicates()

In [47]:
df

,id,original_title,original_language,genre,overview,popularity,vote_count,vote_average,release_date
0,278,The Shawshank Redemption,en,"Drama, Crime",Imprisoned in the 1940s for the double murder ...,36.1467,29384,8.714,1994-09-23
1,238,The Godfather,en,"Drama, Crime","Spanning the years 1945 to 1955, a chronicle o...",37.3341,22174,8.686,1972-03-14
2,240,The Godfather Part II,en,"Drama, Crime",In the continuing saga of the Corleone crime f...,14.6729,13404,8.571,1974-12-20
3,424,Schindler's List,en,"Drama, History, War",The true story of how businessman Oskar Schind...,13.6783,16923,8.566,1993-12-15
4,389,12 Angry Men,en,Drama,The defense and the prosecution have rested an...,10.6929,9589,8.548,1957-04-10
...,...,...,...,...,...,...,...,...,...
9995,226486,Tammy,en,Comedy,"For Tammy, a burger-joint employee, a bad day ...",2.7543,1257,5.336,2014-07-02
9996,47964,A Good Day to Die Hard,en,"Action, Thriller","Iconoclastic, take-no-prisoners cop John McCla...",4.2306,6606,5.335,2013-02-06
9997,203835,Amityville: The Awakening,en,Horror,"Belle, her little sister, and her comatose twi...",5.5595,1068,5.334,2017-06-30
9998,43552,Vanishing on 7th Street,en,"Mystery, Horror, Thriller",A mysterious global blackout yields countless ...,4.5139,601,5.334,2010-09-11
9999,80304,Casa de Mi Padre,en,"Comedy, Western",Scheming of a way to save their father's ranch...,4.1805,319,5.300,2012-03-15

In [53]:
df.head(40)

,id,original_title,original_language,genre,overview,popularity,vote_count,vote_average,release_date
0,278,The Shawshank Redemption,en,"Drama, Crime",Imprisoned in the 1940s for the double murder ...,36.1467,29384,8.714,1994-09-23
1,238,The Godfather,en,"Drama, Crime","Spanning the years 1945 to 1955, a chronicle o...",37.3341,22174,8.686,1972-03-14
2,240,The Godfather Part II,en,"Drama, Crime",In the continuing saga of the Corleone crime f...,14.6729,13404,8.571,1974-12-20
3,424,Schindler's List,en,"Drama, History, War",The true story of how businessman Oskar Schind...,13.6783,16923,8.566,1993-12-15
4,389,12 Angry Men,en,Drama,The defense and the prosecution have rested an...,10.6929,9589,8.548,1957-04-10
5,129,千と千尋の神隠し,ja,"Animation, Family, Fantasy","A young girl, Chihiro, becomes trapped in a st...",25.6839,17726,8.533,2001-07-20
6,155,The Dark Knight,en,"Drama, Action, Crime, Thriller",Batman raises the stakes in his war on crime. ...,28.8391,34849,8.524,2008-07-16
7,19404,दिलवाले दुल्हनिया ले जायेंगे,hi,"Comedy, Drama, Romance","Raj is a rich, carefree, happy-go-lucky second...",5.9649,4522,8.500,1995-10-20
8,497,The Green Mile,en,"Fantasy, Drama, Crime",A supernatural tale set on death row in a Sout...,16.0595,18626,8.503,1999-12-10
9,496243,기생충,ko,"Comedy, Thriller, Drama","All unemployed, Ki-taek's family takes peculia...",18.8551,19826,8.496,2019-05-30
10,122,The Lord of the Rings: The Return of the King,en,"Adventure, Fantasy, Action",As armies mass for a final battle that will de...,20.8099,25756,8.491,2003-12-17
11,680,Pulp Fiction,en,"Thriller, Crime, Comedy","A burger-loving hit man, his philosophical par...",22.7251,29404,8.487,1994-09-10
12,372058,君の名は。,ja,"Animation, Romance, Drama",High schoolers Mitsuha and Taki are complete s...,18.0858,12165,8.478,2016-08-26
13,429,"Il buono, il brutto, il cattivo",it,Western,While the Civil War rages on between the Union...,11.3880,9294,8.465,1966-12-22
14,157336,Interstellar,en,"Adventure, Drama, Science Fiction",The adventures of a group of explorers who mak...,45.8189,38436,8.464,2014-11-05
15,13,Forrest Gump,en,"Comedy, Drama, Romance",A man with a low IQ has accomplished great thi...,22.2882,28969,8.462,1994-06-23
16,769,GoodFellas,en,"Drama, Crime","The true story of Henry Hill, a half-Irish, ha...",14.3824,13840,8.452,1990-09-12
17,346,七人の侍,ja,"Action, Drama",A samurai answers a village's request for prot...,6.4146,4052,8.400,1954-04-26
18,12477,火垂るの墓,ja,"Animation, Drama, War","In the final months of World War II, 14-year-o...",0.0082,6234,8.446,1988-04-16
19,637,La vita è bella,it,"Comedy, Drama",A touching story of an Italian book seller of ...,8.5619,13677,8.441,1997-12-20
20,550,Fight Club,en,"Drama, Thriller",A ticking-time-bomb insomniac and a slippery s...,25.0633,31114,8.438,1999-10-15
21,14537,切腹,ja,"Action, Drama, History",Down-on-his-luck veteran Tsugumo Hanshirō ente...,3.6641,1135,8.434,1962-09-15
22,11216,Nuovo Cinema Paradiso,it,"Drama, Romance","A filmmaker recalls his childhood, when he fel...",5.9302,4673,8.427,1988-11-17
23,598,Cidade de Deus,pt,"Drama, Crime",In the poverty-stricken favelas of Rio de Jane...,7.8297,7906,8.400,2002-08-30
24,120,The Lord of the Rings: The Fellowship of the Ring,en,"Adventure, Fantasy, Action","Young hobbit Frodo Baggins, after inheriting a...",23.4022,26701,8.426,2001-12-18
25,667257,Cosas imposibles,es,"Family, Drama","After the death of her abusive husband, Matild...",4.3798,418,8.425,2021-06-17
26,539,Psycho,en,"Horror, Thriller, Mystery",When larcenous real estate clerk Marion Crane ...,9.3412,10674,8.420,1960-06-22
27,40096,O Auto da Compadecida,pt,"Comedy, Drama, Fantasy, Romance",The lively João Grilo and the sly Chicó are po...,4.6470,1194,8.419,2000-09-15
28,510,One Flew Over the Cuckoo's Nest,en,Drama,A petty criminal fakes insanity to serve his s...,8.7801,11079,8.400,1975-11-19
29,121,The Lord of the Rings: The Two Towers,en,"Adventure, Fantasy, Action",Frodo Baggins and the other members of the Fel...,20.3585,23181,8.411,2002-12-18
30,696374,Gabriel's Inferno,en,"Romance, Drama",An intriguing and sinful exploration of seduct...,3.6654,2438,8.400,2020-05-29
31,255709,소원,ko,Drama,After 8-year-old So-won narrowly survives a br...,2.6809,811,8.400,2013-10-02
32,311,Once Upon a Time in America,en,"Drama, Crime",A former Prohibition-era Jewish gangster retur...,9.3216,5812,8.396,1984-05-23
33,324857,Spider-Man: Into the Spider-Verse,en,"Animation, Action, Adventure, Science Fiction",Struggling to find his place in the world whil...,15.9764,16676,8.394,2018-12-06
34,1891,The Empire Strikes Back,en,"Adventure, Action, Science Fiction","The epic saga continues as Luke Skywalker, in ...",6.9208,17897,8.393,1980-05-20
35,4935,ハウルの動く城,ja,"Fantasy, Animation, Adventure","Sophie, a young milliner, is turned into an el...",12.9060,10671,8.390,2004-09-09
36,378064,映画 聲の形,ja,"Animation, Drama, Romance",Shouya Ishida starts bullying the new girl in ...,10.6941,4290,8.386,2016-09-17
37,807,Se7en,en,"Crime, Mystery, Thriller",Two homicide detectives are on a desperate hun...,14.7998,22382,8.378,1995-09-22
38,423,The Pianist,en,"Drama, War",The true story of pianist Władysław Szpilman's...,8.1136,9804,8.379,2002-09-17
39,244786,Whiplash,en,"Drama, Music","Under the direction of a ruthless instructor, ...",14.0022,16132,8.375,2014-10-10

In [58]:
#Data is very much clean and ready for drawing out conclusions 
#Which language movies are most common?
#How many langauges are in this data set 
#How many Hindi films are in top 100 list
#How many japanese films are in top 100 list
#Which genre has the highest rated films
#How many movies before 1999 are in the top 100
#average vote of top 100 movies
#average vote of all the movies
#how many movies are from crime genre
#what is popularity of highest rated Hindi movie
#What is the vote count of highest rated japanese movie
#How many movies have a rating above 8?
#What is the median vs mean rating?
#Do more popular movies always have higher ratings?
#Which popular movies have surprisingly low ratings?
#Which less popular movies have very high ratings?
#How does popularity change over release years?
#Is popularity skewed toward newer movies?
#Do multi-genre movies get higher ratings?
#Which genre has the most underrated movies?
#Which languages have the highest vote participation?
#movie with highest rating and lowest popularity
#DATA DRIVEN MOVIE RECOMMENDATION SYSTEM